input,
textarea {
  width: 100%;
  background-color: hsl(263.1, 100%, 94.9%);
  appearance: none;
  border: 0;
  padding: 8px 10px;
  border: 1px solid #d1b6ff;
}

label {
  font-weight: 500;
}

.edit-block_header {
  display: grid;
  grid-template-columns: 40% 1fr;
  align-items: center;
  gap: 50px;
  margin: 30px 0;
  padding: 0 35px;
}

.edit-block_step-info {
  display: flex;
  flex-basis: 40%;
  align-items: center;
  gap: 25px;
}

.edit-block_step {
  background-color: var(--accentColor);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.edit-block_title {
  font-size: 2.4rem;
  font-weight: bold;
}

.edit-block_form-entry,
.edit-block_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-block_form-entry {
  align-items: end;
}

.edit-block_form {
  padding: 30px 35px;
  font-size: 1.4rem;
  border: 2px solid hsla(266, 24%, 92%, 1);
  border-radius: 20px;
  background-color: hsl(264, 100%, 99%);
}

.edit-block_separator {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid hsl(267, 100%, 94%);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.input-wrapper.row {
  flex-direction: row;
}

.flex-2-rows {
  display: flex;
  gap: 30px;
  width: 100%;
}

.btn-delete {
  appearance: none;
  border: none;
  padding: 10px 20px;
  background-color: #202020;
  color: white;
  font-weight: 500;
  border-radius: 4px;
}
