input,
textarea,
select {
  padding: 8px 10px;
  background-color: hsl(263.1, 100%, 94.5%);
  border: 1px solid hsl(262, 100%, 86%);
}

input,
textarea {
  width: 100%;
  appearance: none;
}

input::file-selector-button {
  appearance: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--accentColor);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  margin-right: 15px;
  transition: 0.2s all ease;
}

input::file-selector-button:hover {
  background-color: var(--darkerAccentColor);
}

select {
  /* border: 1px solid var(--accentColor); */
  cursor: pointer;
}

textarea {
  resize: vertical;
}

label {
  font-weight: 500;
}

.edit-block {
  position: relative;
}

.edit-block + .edit-block {
  margin-top: 80px;
}

.edit-block_header {
  display: grid;
  grid-template-columns: 40% 1fr;
  align-items: center;
  gap: 50px;
  margin: 30px 0;
  padding: 0 35px;
}

.edit-block_step-heading {
  display: flex;
  flex-basis: 40%;
  align-items: center;
  gap: 25px;
}

.edit-block_step-info {
  display: flex;
  flex-direction: column;
}

.edit-block_step {
  position: relative;
  background-color: var(--accentColor);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.edit-block_step::before {
  content: "";
  position: absolute;
  right: 0%;
  transform: translateX(100%);
  height: 1px;
  width: 10px;
  background-color: #6f00ff;
}

.edit-block_title {
  font-size: 2.4rem;
  font-weight: bold;
}

.edit-block_form-entry,
.edit-block_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-block_form-entry {
  align-items: end;
}

.edit-block_form {
  padding: 30px 35px;
  font-size: 1.4rem;
  border: 2px solid hsl(262.2, 100%, 96%);
  border-radius: 20px;
  background-color: hsl(264, 100%, 98%);
}

.edit-block_form-desc h2 {
  margin-bottom: 10px;
}

.edit-block_form-desc input {
  margin-top: 20px;
}

.edit-picture_form {
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.edit-block_separator {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid hsl(267, 100%, 94%);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.input-wrapper.row {
  flex-direction: row;
}

.flex-2-rows {
  display: flex;
  gap: 30px;
  width: 100%;
}

.btn-delete {
  appearance: none;
  border: none;
  padding: 10px 20px;
  background-color: #202020;
  color: white;
  font-weight: 500;
  border-radius: 4px;
}
