header {
  border-bottom: 1px solid hsla(207, 27%, 89%, 1);
  padding: 10px;
  font-size: 1.6rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
}

.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_nav > ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.header_nav-item {
  padding: 15px;
  font-weight: 500;
  cursor: pointer;
}

.header_nav-item:hover {
  color: var(--accentColor);
}
