@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spline+Sans:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --accentColor: hsla(266, 100%, 50%, 1);
  --darkerAccentColor: hsl(266.1, 100%, 30%);
  --accentColorDark: hsl(266.1, 100%, 80.2%);
  --dangerColor: hsl(335, 95.9%, 37.8%);
}

::selection {
  background-color: hsla(209, 75%, 37%, 0.85);
  color: white;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  min-height: 100%;
  font-family: "Ubuntu", sans-serif;
  font-family: "Spline Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}

main {
  margin-bottom: 50px;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: bold;
}

a {
  color: var(--accentColor);
  text-decoration: none;
  transition: 0.3s color ease;
}

a:hover {
  color: hsl(186, 100%, 25%);
}

p + p {
  margin-top: 10px;
}

b {
  font-weight: 600;
}

.profile-picture-container,
.profile-picture {
  aspect-ratio: 1 / 1;
}

.profile-picture {
  height: 100%;
  object-fit: cover;
  max-width: 175px;
  border-radius: 100%;
}

.profile-picture-placeholder {
  height: 175px;
  width: 175px;
  border: 2px solid var(--accentColor);
  border-radius: 100%;
  border-style: dashed;
  background-color: hsl(263.6, 100%, 94.5%);
}

.accent-color {
  color: var(--accentColor);
}

.accent-color-dark {
  color: var(--accentColorDark);
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-t-25 {
  margin-top: 25px;
}

/* ---------- Buttons ---------- */
button {
  appearance: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s all ease;
}

.btn-secondary {
  padding: 10px 20px;
  border: 2px solid var(--accentColor);
  font-weight: 500;
  background-color: transparent;
  color: var(--accentColor);
}

.btn-secondary:hover {
  background-color: var(--accentColor);
  color: white;
}

.btn-icon-add {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  align-items: center;
  background-color: var(--accentColor);
  color: white;
  fill: white;
  font-weight: bold;
  margin-left: auto;
  margin-top: 15px;
}

.btn-icon-add:hover {
  background-color: var(--darkerAccentColor);
}

.btn-icon-delete {
  flex-shrink: 0;
  padding: 0 8px;
  fill: white;
  background-color: var(--dangerColor);
}

.btn-icon-delete-long {
  display: flex;
  gap: 10px;
  padding: 10px 15px;
  font-weight: 600;
  color: white;
}

.btn-icon-delete:hover,
.btn-icon-delete-long:hover {
  background-color: hsl(335, 95.9%, 26%);
}

.btn-icon-picker {
  background-color: transparent;
  margin-right: 10px;
}

.btn-icon-picker:hover {
  background-color: hsl(0, 0%, 90%);
}

.content-margin {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
